@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

$colorh1: black;
$Letra1: 2rem; 
$peso1: 600;
$margenIZQ1: 2px;
$MargenSUP1: 15px;
$MargenBOT1: 15px;
$interlineado1: 3rem;

$Letra1: 1.2rem;
$Letra2: 2rem;
$Letra3: 2rem


